compiz-1/
configstore/
dconf/
fish/
git-annex/
gtk-2.0/
htop/
inkscape/
inoreader/
keybase/
nautilus/
rss/
subversion/
transmission-daemon/
transmission/
twitter/
wireshark/
xauth/
user-dirs.dirs
user-dirs.locale
hub
