compiz-1/
configstore/
dconf/
evolution/
fish/
git-annex/
gtk-2.0/
gtk-3.0/
htop/
ibus/
inkscape/
inoreader/
keybase/
libaccounts-glib/
nautilus/
pulse/
rss/
subversion/
systemd/
transmission-daemon/
transmission/
twitter/
unity/
wireshark/
xauth/
zmwangxsay/
user-dirs.dirs
user-dirs.locale
hub
