[submodule "zsh/prezto"]
	path = zsh/prezto
	url = git@github.com:zmwangx/prezto.git
[submodule "cron"]
	path = cron
	url = git@gitlab.com:zmwangx/cron.git
[submodule "emacs/local/use-package"]
	path = emacs/local/use-package
	url = git@github.com:jwiegley/use-package.git
