<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <string>7z</string>
    <string>a</string>
    <string>bz2</string>
    <string>crx</string>
    <string>dat</string>
    <string>db</string>
    <string>dll</string>
    <string>dmg</string>
    <string>doc</string>
    <string>docx</string>
    <string>dot</string>
    <string>dotm</string>
    <string>dotx</string>
    <string>dvi</string>
    <string>eot</string>
    <string>exe</string>
    <string>gpg</string>
    <string>gz</string>
    <string>gzip</string>
    <string>ipa</string>
    <string>iso</string>
    <string>itdb</string>
    <string>itl</string>
    <string>lib</string>
    <string>lz</string>
    <string>o</string>
    <string>pkg</string>
    <string>pot</string>
    <string>potm</string>
    <string>potx</string>
    <string>ppt</string>
    <string>pptx</string>
    <string>ps</string>
    <string>rar</string>
    <string>rar</string>
    <string>safariextz</string>
    <string>scpt</string>
    <string>sparseimage</string>
    <string>tar</string>
    <string>taz</string>
    <string>tbz</string>
    <string>tgz</string>
    <string>tlz</string>
    <string>txz</string>
    <string>woff2</string>
    <string>woff</string>
    <string>xls</string>
    <string>xlsx</string>
    <string>xlt</string>
    <string>xltm</string>
    <string>xltx</string>
    <string>xz</string>
    <string>z</string>
    <string>zip</string>
  </array>
</plist>
