# -*- mode: yaml; -*-
#
# This configuration file is for python-onedrive:
# https://github.com/mk-fg/python-onedrive
#
# python-onedrive defaults to ~/.lcrc for the config file, so one has
# to pass the option
# --config=$XDG_CONFIG_HOME/onedrive/python-onedrive.yml to load this
# config file.
#
# OneDrive app registration is located at
# https://dev.onedrive.com/app-registration.htm

client:
  id: XXXXXXXXXXXXXXXX
  secret: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
