<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<false/>
	<key>XtraFinder_XFAlwaysMaximizePlugin</key>
	<true/>
	<key>XtraFinder_XFBackspaceToGoBackPlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewMiddleClickPlugin</key>
	<false/>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Comment</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Date</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_HasMaxWidth</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_HasMinWidth</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Kind</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Label</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Name</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Size</key>
	<false/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Version</key>
	<false/>
	<key>XtraFinder_XFFoldersOnTopPlugin</key>
	<true/>
	<key>XtraFinder_XFHideDotFilesOnDesktopPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFLegacyZoomButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin_TerminalApp</key>
	<integer>1</integer>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<false/>
	<key>XtraFinder_XFShowAllFilesActionPlugin</key>
	<true/>
	<key>XtraFinder_XFShowAllFilesActionPlugin_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string>.</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>&gt;</string>
		<key>keyCode</key>
		<integer>47</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>XtraFinder_XFSortRecentFoldersPlugin</key>
	<false/>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NarrowTabBar</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSideBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SidebarWidth</key>
	<real>155</real>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTransparentWindowPlugin</key>
	<false/>
</dict>
</plist>
